/* base */
html {
  background-color: #343a404d;
  height: auto;
}
body {
  background-color: initial;
  height: fit-content;
}
/* homepage.html */

.homepage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

img,
.carousel-inner,
.carousel-item {
  height: 500px;
  width: 100%;
}

.carousel-item,
h5 {
  color: #28a745;
}

a {
  text-decoration: none;
  color: black;
}

.faq-item {
  margin-right: 100px;
}

#carousel-container {
  width: 100%;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffc107;
}

form {
  font-size: 30px;
}

input {
  font-size: 30px;
  width: 300px;
  background-image: inherit;
}

#forms-container {
  height: 700px;
}
#forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  margin-left: 30%;
  margin-top: 20px;
  font-weight: bold;
  
}

.forms-body {
  display: flex;
  align-items: center;
}

.btn-form {
  border: none;
  background-color: #28a745;
  box-shadow: 1px 1px 10px black;
  margin-top: 5px;
  font-size: 22px;
}

.forms-header {
  display: flex;
  justify-content: center;
  width: 200px;
  border-bottom: 1px solid darkgoldenrod;
  margin-bottom: 50px;
}


.messages-container {
  margin-left: 30px;
  margin-top: 30px;
}

.text {
  position: absolute;
  top: 10%;
  color: #fff;
  text-align: center;
}
h1 {
  font-size: 50px;
}
