{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Notifications</title>
</head>

<body>
  {% block content %}
  <div>
    {% if new_member_notifications %}
    {% for noti in new_member_notifications %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{noti.message}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{noti.member_notified.username}}</h6>
        </div>
      </div>
    {% endfor %}
    {% else %}
    <h4>You have no new notifications</h4>
    {% endif %}
</div>

<div>
  <h1>Old Notifications</h1>
  {% for noti in old_member_notifications %}
  <div class="card" style="width: 18rem; ">
      <div class="card-body"">
        <h5 class="card-title" style="color: grey;"><b>Someone Commented On:</b> {{noti}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">User Notified: {{noti}}</h6>
      </div>
    </div>
  {% endfor %}
</div>
  {% endblock %}
</body>

</html>